
<html>
<head>
 
  <title>Instant Connection</title>

  <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
    <div class="header">

      <div class="container-fluid">
       <h1> Welcome to the Elevation Connection </h1>

       <h3>Register ...</h3>
       <input placeholder="Name"></input><br>
        <input placeholder="Lastname"></input> <br>
         <input placeholder="Email adress"></input> <br>
         <input placeholder="Password"></input> <br>
         <input placeholder="Confirm password"></input> <br>
         <select ng-model="birthday">
       <OPTION value>day</OPTION>
       <OPTION>1</OPTION>
       <OPTION>2</OPTION>
       </select>
        <select ng-model="birthmonth">
       <OPTION value>month</OPTION>
       <OPTION>January</OPTION>
       <OPTION>February</OPTION>
       <OPTION>March</OPTION>
       <OPTION>April</OPTION>
       <OPTION>May</OPTION>
       <OPTION>June</OPTION>
       <OPTION>July</OPTION>
       <OPTION>August</OPTION>
       <OPTION>September</OPTION>
       <OPTION>October</OPTION>
       <OPTION>November</OPTION>
       <OPTION>December</OPTION>
       </select>
        <select ng-model="birthdate">
       <OPTION value>year</OPTION>

          <OPTION>1982</OPTION>
             <OPTION>1983</OPTION>
                <OPTION>1984</OPTION>
                   <OPTION>1985</OPTION>
                      <OPTION>1986</OPTION>
                         <OPTION>1987</OPTION>
                            <OPTION>1988</OPTION>
                               <OPTION>1989</OPTION>
                                  <OPTION>1990</OPTION>

       <OPTION>1991</OPTION>
       <OPTION>1992</OPTION>
       <OPTION>1993</OPTION>
       <OPTION>1994</OPTION>
       <OPTION>1995</OPTION>
       <OPTION>1996</OPTION>
       </select>
       
      
        <a href="faces.html"<button>GO</button></a>

      

      </div>
    

<script src="style.css"></script>
  <script src="faces.html"></script>
  <script src="index.html"></script>
    <script src="angular/angular.min.js"></script>
    </div>
  </body>
</html>